doctype html
html
  head
    title= title
  body
    h1 Welcome to Pug
    p This is a sample Pug template.
    ul
      li Apple
      li Banana
      li Orange
    ul 
        -for(var i=0; i<5; i++)
            li coding
    div= time
    
span 흠냥
a(href="#") a태그
button 버튼태그
